<!doctype html>

<html lang="en">
  <head>
    {% block head %}
      <title>launch store</title>
    {% endblock head %}
    
  </head>

  <body>
    
    {% block content %} {% endblock content %}
    
  </body>
</html>